:root{
    --cor-primaria: #1A1A1A;
    --cor-secundaria: #C68346;
    --cor-secundaria-hover: #c2732a;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: sans-serif;
    background-color: var(--cor-primaria);
    color: white;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 60px;
    background-color: var(--cor-secundaria);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}

.header nav a {
    color: white;
    text-decoration: none;
}

.header nav a:hover{
    color: red;
}

.produtos{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 24px;
}

.produtos h2 {
    margin-bottom: 24px;
    font-size: 1.4rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card  {
    flex: 1 1 240px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    color: var(--cor-secundaria);
}

.card-img{
    height: 200px;
    overflow: hidden;
    background-color: rgba(255, 192, 203, 0.456);
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3{
    padding: 14px 16px 4px;
    font-size: 1rem;

}

.card p{
    padding: 4px 16px ;
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 1.1rem;
}

.card button{
    margin: auto 16px 16px;
    padding: 10px;
    background-color: var(--cor-secundaria);
    border-radius: 6px;
    border: none;
    font-size: .9 rem;
    cursor: pointer;
    color: white;
}

.card button:hover{
    background-color: var(--cor-secundaria-hover);
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card button:active{
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    color: white;
    background-color: var(--cor-secundaria);
    font-size: .9rem;
    margin-top: 50px;
}