body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif
}

p{
    color:aquamarine
}

ul li{
    color:aquamarine;
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
}
#john-lemon{
    color: yellowgreen;
    text-align: center;
    border-bottom: 2px solid aquamarine;
    border-top: 2px solid aquamarine;

}
h2{
    color: yellowgreen;
    font-style: bold;
}
.ingrediente-secreto{
    color: greenyellow;
    font-weight: bold;
}
.aviso{
    color:rgb(147, 219, 31)yellow
}